page-events {


        .card-background-page .ion-card{
        position: relative;
        text-align: center;
    }
        .card-background-page .card-title{
            position: absolute;
            text-align: center;
            left: -5px;
            margin-top: -100px;
           
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            -webkit-text-stroke: 1.4px;
    
        }
        

    
    
}
